<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
            "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zzu.wcj.dao.IStudentDAO">
         
      <!-- 增加学生 -->
      <!-- 其中的年龄可以由Oracle日期函数和birth属性共同推导出来 -->
      <insert id="doCreate" parameterType="Student">
        INSERT INTO student
        (student_id,clazz_id,student_name,sex,age,address,birth,password,tel,photo,note)
        VALUES
        (#{studentId},#{clazzId},#{studentName},#{sex},
         TRUNC(MONTHS_BETWEEN(SYSDATE,#{birth})/12),
         #{address},#{birth},#{password},#{tel},#{photo},#{note})   
      </insert>
      
      <!-- 删除学生 -->
      <!-- 子业务1:删除score表对应的数据 -->
      <!-- 子业务2:删除student表对应的数据 -->
      <delete id="doRemoveScore" parameterType="java.lang.String">
           DELETE FROM score WHERE student_id=#{studentId}
      </delete>
      <delete id="doRemove" parameterType="java.lang.String">
           DELETE FROM student WHERE student_id=#{studentId}
      </delete>
      
      <!-- 查询学生信息 -->
      <select id="findById" parameterType="java.lang.String" resultMap="StudentMap">
             SELECT student_id,clazz_id,student_name,sex,age,address,birth,password,
                    tel,photo,note
             FROM student
             WHERE student_id=#{studentId}
      </select>
      <resultMap type="Student" id="StudentMap">
           <id column="student_id" property="studentId" />
           <result column="clazz_id" property="clazzId" />
           <result column="student_name" property="studentName" />
           <result column="sex" property="sex" />
           <result column="age" property="age" />
           <result column="address" property="address" />
           <result column="birth" property="birth" />
           <result column="password" property="password" />
           <result column="tel" property="tel" />
           <result column="photo" property="photo" />
           <result column="note" property="note" />
           <!-- 1个学生有1个班级 -->
           <association property="clazz" column="student_id" select="findClazzByStudentId">
           </association>
      </resultMap>
      <!-- 根据学生ID查询班级信息 -->
      <select id="findClazzByStudentId" parameterType="java.lang.String" resultType="Clazz">
           SELECT clazz_id clazzId,major_id majorId,clazz_name clazzName
           FROM clazz
           WHERE clazz_id=(
                     SELECT clazz_id
                     FROM student
                     WHERE student_id=#{studentId}
           )
      </select>


      <!-- 修改学生信息 -->
      <update id="doUpdate" parameterType="Student">
           UPDATE student 
           SET student_name=#{studentName},
               password=#{password} ,
               sex=#{sex},
               age= TRUNC(MONTHS_BETWEEN(SYSDATE,#{birth})/12),
               birth=#{birth},
               address=#{address},
               tel=#{tel} ,
               photo=#{photo},
               note=#{note}
           WHERE student_id=#{studentId}
      </update>

      <!-- 批量增加 -->
      <insert id="doCreateBatch" parameterType="java.util.List">
             INSERT INTO student
             (student_id,clazz_id,student_name,sex,age,address,birth,password,tel,photo,note)
             SELECT temp.*
             FROM (
                 <foreach collection="list" item="student" index="index" separator="UNION">
                     SELECT #{student.studentId} ,
                            #{student.clazzId},
                            #{student.studentName},
                            #{student.sex} ,
                            TRUNC(MONTHS_BETWEEN(SYSDATE,#{student.birth})/12),
                            #{student.address},
                            #{student.birth} ,
                            #{student.password} ,
                            #{student.tel} ,
                            #{student.photo},
                            #{student.note}
                     FROM dual 
                 </foreach>
             )temp
      </insert>


      <!-- 模糊查询 -->
      <select id="findAll" parameterType="java.lang.String" resultMap="StudentMap">
          SELECT student_id,clazz_id,student_name,sex,age,address,birth,password,
                 tel,photo,note
          FROM student
          WHERE student_id LIKE #{keyWord} 
                OR clazz_id LIKE #{keyWord} 
                OR UPPER(student_name) LIKE #{keyWord}
                OR UPPER(sex) LIKE #{keyWord}
                OR age  LIKE #{keyWord}
                OR UPPER(address) LIKE #{keyWord}
                OR birth LIKE #{keyWord}
                OR UPPER(password) LIKE #{keyWord}
                OR tel LIKE #{keyWord}
                OR UPPER(note) LIKE #{keyWord}
                OR UPPER(address) LIKE #{keyWord}
      </select>

      <!--登录验证-->
      <select id="findLogin" parameterType="Student" resultType="java.lang.Integer">
          SELECT COUNT(student_id)
          FROM student
          WHERE student_id=#{studentId}
                        AND
                password=#{password}
      </select>
      
      <!-- 学生自主修改密码 -->
      <update id="doUpdatePassword" parameterType="Student">
         UPDATE student
         SET password=#{password}
         WHERE student_id=#{studentId}
      </update>
      
      
      
      
      
      
      


</mapper>            